{% load static %}

<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width-device-width, initial-scale-1, shrink-to-fit-no" >


<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.min.css' %}" rel="stylesheet">


    <style>

	 aside{
		float:right;
		background-color:gray;
		padding:20px;
	  }
	  
	.breaker h1 {
		width: 100%; 
		text-align: center;
		color:gray;
		border-bottom: 0.5px solid #ccc; 
		line-height: 0.1em;
		margin: 10px 0 20px;
	  } 

	.breaker h1 span { 
		font-family: 'Tangerine', serif;
		background:#fff; 
		padding:0 10px; 
		color:#74B6C7;
	  }
	h5 {
		color:skyblue;
	
	}
	
	.category-padding{ 
		padding:10px;
	
	}

    </style>



</head>

<body >
{% include "app/navbar.html" %}

{% block extra_content %}


{% endblock %}



<div class="container">

<div style="margin-top:0px;"></div>


{% block content %}


{% endblock %}


</div>


<!-- Signup Modal -->
	
	<!-- Modal -->
	<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
	
	<!--Content-->
	<div class="modal-content form-elegant">
	
	<!--Header-->
	<div class="modal-header text-center">
	<h3 class="modal-title w-100 dark-grey-text font-weight-bold my-0" id="myModalLabel"><strong>Sign up</strong></h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	</div>
	<!--Body-->
	<div class="modal-body mx-2">
	<!--Body-->
		
	<div class="row my-3 d-flex justify-content-center">
	<!--Facebook-->
	<button type="button" class="btn-sm btn-white mr-md-3 z-depth-1a rounded-circle"><img src="{% static 'img/icons8-facebook-40.png' %}" ></button>
	<!--Twitter-->
	<button type="button" class="btn-sm btn-white btn-rounded mr-md-3 z-depth-1a"><img src="{% static 'img/icons8-twitter-40.png' %}" ></button>
	<!--Google +-->
	<button type="button" class="btn-sm btn-white btn-rounded z-depth-1a"><img src="{% static 'img/icons8-instagram-40.png' %}" ></button>
	</div>
	
	<p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign up
	with:</p>
	
<form class="mx-auto" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
	    {% csrf_token %}
	<div class="md-form mb-2">
	
	<input type="text" id="username" class="form-control validate" name="username" >
	<label data-error="wrong" data-success="right" for="username" >Username</label>
	</div>

	<div class="md-form mb-2">
	<input type="email" id="Form-email1" class="form-control validate" name="email" >
	<label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
	</div>
	
	<div class="md-form mb-2">
	<input type="password" id="Form-pass1" class="form-control validate" name="password" >
	<label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
	</div>
	
	<div class="md-form mb-2">
	<input type="password" id="Form-pass2" class="form-control validate" name="confirm_password" >
	<label data-error="wrong" data-success="right" for="Form-pass2">Confirm password</label>
	</div>
	
	<div class="text-center mb-2">
	<button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a" href="{% url 'signup' %}" >Sign up</button>
	</div>
	
</form>
	
</div>
	<!--Footer-->
	
	</div>
	<!--/.Content-->
	</div>
	</div>
	<!-- Modal -->



<!-- Signup Modal -->


<!-- Login Modal -->
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
	
	<!--Content-->
	<div class="modal-content form-elegant">
	
	<!--Header-->
	<div class="modal-header text-center">
	<h3 class="modal-title w-100 dark-grey-text font-weight-bold my-0" id="myModalLabel"><strong>Sign in</strong></h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	</div>
	<!--Body-->
	<div class="modal-body mx-4">
	<!--Body-->

	<div class="row my-3 d-flex justify-content-center">
	<!--Facebook-->
	<button type="button" class="btn-sm btn-white mr-md-3 z-depth-1a rounded-circle"><img src="{% static 'img/icons8-facebook-40.png' %}" ></button>
	<!--Twitter-->
	<button type="button" class="btn-sm btn-white btn-rounded mr-md-3 z-depth-1a"><img src="{% static 'img/icons8-twitter-40.png' %}" ></button>
	<!--Google +-->
	<button type="button" class="btn-sm btn-white btn-rounded z-depth-1a"><img src="{% static 'img/icons8-instagram-40.png' %}" ></button>
	</div>
	
		
		<p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in
	with:</p>
	
	
<form class="mx-auto" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
	    {% csrf_token %}
	<div class="md-form mb-5">
	
	<input type="text" id="username" class="form-control validate" name="username" >
	<label data-error="wrong" data-success="right" for="username" >Username</label>
	</div>
	
	<div class="md-form pb-3">
	<input type="password" id="Form-pass1" class="form-control validate" name="password" >
	<label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
	<p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1">
	Password?</a></p>
	</div>
	
	<div class="text-center mb-3">
	<button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
	</div>
	
</form>
	
	</div>
	<!--Footer-->
	<div class="modal-footer mx-5 pt-3 mb-1">
	<p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="{% url 'signup' %}" data-toggle="modal" data-target="#SignupModal" class="blue-text ml-1" data-dismiss="modal" aria-label="Close">
	Sign Up</a></p>
	</div>
	</div>
	<!--/.Content-->
	</div>
	</div>
	<!-- Modal -->


<!-- Login Modal /-->



{% include "app/scripts.html" %}

<footer class=" align-self-end page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <!--div class="pb-4">

      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

    </div-->
    <!-- Social icons -->

<a href="/termsofuse" >Terms of use  -  </a>
<a href="/privacypolicy" >Privacy Policy  -  </a>
<a href="/aboutus" >About Us  -  </a>
<a href="/contactus" >Contact Us </a>

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      
    </div>
    <!--/.Copyright-->

</footer>
</body>
</html>

