{% extends 'app/base.html' %}

{% block content %}
<style>
.breaker h1 {
	width: 100%; 
	text-align: center;
	color:gray;
	border-bottom: 0.5px solid #ccc; 
	line-height: 0.1em;
	margin: 10px 0 20px;
} 

.breaker h1 span { 
	font-family: 'Tangerine', serif;
	background:#fff; 
	padding:0 10px; 
	color:#74B6C7;
}
	  

</style>

<div style="margin-top:150px;"></div>


<form   class="form-inline justify-content-center" method="GET" action="/search/">

		<select id="category" class="form-control" name="category">
			<option value="">Categories</option>
			<option value="S" >Sports</option>
			<option value="H" >Health & Beauty</option>
			<option value="B" >Books</option>
			<option value="MF" >Men Fashion</option>	
			<option value="PH" >Phones & Tablets</option>
			<option value="WF" >Women Fashion</option>
			<option value="K" >Kids & Babies</option>
			<option value="L" >Laptops & PCs</option>	
		</select>
		

			<input  id="searching" class="form-control mr-sm-2" type="search" name="search_title" placeholder="Search..." aria-label="Search">
			<button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

</form>

<!-- BREAKER (Search result) -->

<div class="breaker" style="padding:50px 0;">
	<h1><span>Search result</span></h1>
</div>

<!-- BREAKER (Search result) /-->

<div class="row">

{% for item in all %}
	  
        <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top">{% endcomment %}
                <img src="{{ item.image.url }}" class="card-img-top">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="{{ item.get_absolute_url }}" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>
              {% if item.discount_price %}
              <span class="mr-1">
                <del style="color:gray;" >${{ item.price }}</del>
              </span>
              <span>${{ item.discount_price }}</span>
              {% else %}
              <span style="font-weight:bold;">${{ item.price }}</span>
              {% endif %}
                  </strong>
                </h4>
				<h5>
				
					  {% if item.get_label_display == "danger" %}
							<span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
					  {% elif item.get_label_display == "primary" %}
						    <span class="badge badge-pill {{ item.get_label_display }}-color">Best seller</span>
					  {% else %}
							<span style="color:white;">A</span>
					  {% endif %}

				</h5>
              </div>
				<a class="card-footer text-center" href="{{ item.get_absolute_url }}" style="text-decoration: none;" >
					<strong class="text-muted" >QUICK REVIEW</strong>
				</a>
            </div>

          </div>
			  <!--a href="{% url 'app:product' item.slug %}" ><img src="{{item.image.url}}"  class="d-block w-100"  alt="..."></a-->


{% endfor %}
</div>


{% endblock %}
